div {
  margin-top: 40px;
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1{
  margin-left: 1.6em;
}

p{
  font-size: 20px;
}

#emailPara{
  margin-left: 1.7em;
}

#niceDay{
  margin-left: 9.5em;
}

#orderHeading{
  margin-top: 50px;
  margin-left: 1.7em;
}

button{
  margin-left: 11.8em;
  width: 185px;
  height: 35px;
  background-color: #212F3C;
  border: none;
  color: #1BA098;
  outline: none;
}

button:hover{
  background-color: #1BA098;
  color: white;
}
