.img{
  width: 360px;
  height: 520px;
  margin-top: 10px;
}

.img:hover{
  opacity: 0.6;
}

h5, img{
  cursor: pointer;
}

h5:hover{
  text-decoration: none;
  color: #85C1E9 !important;
}

#addWatchlistBtn, #removeWatchlistBtn{
  display: inline-block;
  width: 185px;
  height: 30px;
  background-color: #212F3C;
  border: none;
  color: #1BA098;
  outline: none;
}

#addWatchlistBtn:hover{
  background-color: #1BA098;
  color: white;
}

#removeWatchlistBtn:hover{
  background-color: #1BA098;
  color: white;
}

#nrTopPara{
  font-size: 70px;
  font-family: Candara;
  margin-left: 2em;
  margin-top: 0;
  padding: 0;
  height: 90px;
  background: -webkit-linear-gradient(rgb(222,185,146), rgb(27,160,152));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
