<!--&lt;!&ndash;<link rel="stylesheet"&ndash;&gt;-->
<!--&lt;!&ndash;      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />&ndash;&gt;-->
<!--&lt;!&ndash;<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/themes/prism.css" />&ndash;&gt;-->

<!--<div class="bootstrap">-->
<!--<div class="row">-->
<!--  <div class="col">-->
<!--    <div ngbDropdown class="d-inline-block">-->
<!--      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>My account</button>-->
<!--      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">-->
<!--        <button ngbDropdownItem (click)="login()">Manage account</button>-->
<!--        <button ngbDropdownItem>Watchlist</button>-->
<!--        <button ngbDropdownItem>Something else is here</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--</div>-->
