.container{
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.input-elem, #registerError {
  color: #1BA098;
}

::-webkit-input-placeholder {
  text-align: center;
}

input{
  background-color: #2E4053;
  border: none;
  width: 250px;
  height: 30px;
  color: #DEB992;
  text-align: center;
}

a{
  color: #DEB992;
  text-decoration: none;
  position: relative;
  margin-left: 3em;
}

#registerBtn{
  width: 120px;
  height: 30px;
  background-color: #1BA098;
  border: none;
  color: #2E4053;
  position: relative;
  margin-left: 4.8em;
}

#registerBtn:hover{
  color: white;
}

h3{
  position: relative;
  margin-left: 2.2em;
  font-size: 30px;
}
