.container{
  margin-left: 10px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, 400px);
  grid-template-rows: auto auto;
}

.inner-poster{
  margin-left: 10px;
  top: 2%;
}

.inner-info{
  margin-left: 10px;
  width: 415px;
}

img{
  height: 510px;
  width: 380px;
}

h2{
  margin-top: 0;
  margin-bottom: 10px;
  display: inline-block;
}

p{
  font-size: 20px;
  margin: 0;
  padding: 0;
}

button{
  margin-top: 15px;
  margin-bottom: 25px;
  width: 180px;
  height: 35px;
  background-color: #212F3C;
  border: none;
  color: #1BA098;
  outline: none;
}

button:hover{
  background-color: #1BA098;
  color: white;
}

#userInfo,#movieInfo{
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, rgb(222,185,146), rgb(27,160,152));
  border-image-slice: 1;
}
