.input-elem {
  color: #1BA098;
}

/*#forgotPasswordInfo{*/
/*  position: relative;*/
/*  margin-left: 3.5em;*/
/*}*/

::-webkit-input-placeholder {
  text-align: center;
}

input{
  background-color: #2E4053;
  border: none;
  width: 250px;
  height: 30px;
  color: #DEB992;
  text-align: center;
}

#resetPasswordBtn{
  width: 120px;
  height: 30px;
  background-color: #1BA098;
  border: none;
  color: #2E4053;
  position: relative;
  margin-left: 5em;
}

h3{
  position: relative;
  margin-left: 0.5em;
  font-size: 22px;
}

.container{
  position: relative;
  left: 42%;
  margin: 0px;
  padding: 0px;
}
