<ng4-loading-spinner> </ng4-loading-spinner>

<div class="container">
  <h3>Recover your password</h3>

  <p id="forgotPasswordInfo"></p>

  <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">

    <div class="input-elem">
      <input type="text" placeholder="email" formControlName="email" />
      <div *ngIf="submitted  && f.email.errors">
        <div *ngIf="f.email.errors.required">Email is required</div>
        <div *ngIf="f.email.errors.email">Email is invalid</div>
      </div>
    </div>

    <br>

    <button id="resetPasswordBtn">Reset password</button>

  </form>

</div>
