.input-elem {
  color: #1BA098;
}

::-webkit-input-placeholder {
  text-align: center;
}

input{
  background-color: #2E4053;
  border: none;
  width: 250px;
  height: 30px;
  color: #DEB992;
  text-align: center;
}

#resetPasswordBtn{
  width: 120px;
  height: 30px;
  background-color: #1BA098;
  border: none;
  color: #2E4053;
  position: relative;
  margin-left: 5em;
}

#resetPasswordBtn:hover{
  color: white;
}

h3{
  position: relative;
  margin-left: 0.4em;
  font-size: 22px;
}

.container{
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
