<p id="forgotPasswordInfo"></p>

<form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">

  <div class="input-elem">
    <input type="text" placeholder="email" formControlName="email" />
    <div *ngIf="submitted  && f.email.errors">
      <div *ngIf="f.email.errors.required">Email is required</div>
      <div *ngIf="f.email.errors.email">Email is invalid</div>
    </div>
  </div>
  <br><br>

  <button>Reset password</button>
  <a style="margin-left:10px;" [routerLink]="'/login'">Cancel</a>

</form>
