app-login, app-register, app-no-registration{
  display: inline-block;
  margin-bottom: 50px;
}

app-login{
  margin-left: 6em;
}

app-register{
  margin-left: 6.5em;
}

.container{
  margin-left: 13.5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-template-rows: auto auto auto;
}
