<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<br>

<div id="dayNames">
  <button id="day1" class="day-inner" (click)="getMoviesByDate(day1)">Today<br>{{datePipe.transform(day1, 'dd.MM.yyyy')}}</button>
  <button id="day2" class="day-inner" (click)="getMoviesByDate(daysArray[1])">{{days[daysArray[1].getDay()]}}<br>{{datePipe.transform(daysArray[1], 'dd.MM.yyyy')}}</button>
  <button id="day3" class="day-inner" (click)="getMoviesByDate(daysArray[2])">{{days[daysArray[2].getDay()]}}<br>{{datePipe.transform(daysArray[2], 'dd.MM.yyyy')}}</button>
  <button id="day4" class="day-inner" (click)="getMoviesByDate(daysArray[3])">{{days[daysArray[3].getDay()]}}<br>{{datePipe.transform(daysArray[3], 'dd.MM.yyyy')}}</button>
  <button id="day5" class="day-inner" (click)="getMoviesByDate(daysArray[4])">{{days[daysArray[4].getDay()]}}<br>{{datePipe.transform(daysArray[4], 'dd.MM.yyyy')}}</button>
  <button id="day6" class="day-inner" (click)="getMoviesByDate(daysArray[5])">{{days[daysArray[5].getDay()]}}<br>{{datePipe.transform(daysArray[5], 'dd.MM.yyyy')}}</button>
  <button id="day7" class="day-inner" (click)="getMoviesByDate(daysArray[6])">{{days[daysArray[6].getDay()]}}<br>{{datePipe.transform(daysArray[6], 'dd.MM.yyyy')}}</button>
</div>
<br>

<div class="container-fluid">
  <div class="row">
    <app-movie-item class="col-md-4 bg-success"
      *ngFor="let movieEl of movies"
      [movie]="movieEl"
    ></app-movie-item>
  </div>
</div>

