.left, .img{
  height: 500px;
  width: 350px;
}

.left, .left-btns{
  display: inline-block;
}

.left .left-btns:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.right{
  position: absolute;
  height: auto;
  width: 400px;
  margin-left: 90px;
  border: 2px solid gray;
  border-radius: 1%;
}

.right, .left{
  display: inline-block;
}

