<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<br>

<div id="dayNames">
  <button mat-button id="day1" class="day-inner" (click)="getShowtimesByDate(day1)">Today<br>{{datePipe.transform(day1, 'dd.MM.yyyy')}}</button>
  <button id="day2" class="day-inner" (click)="getShowtimesByDate(daysArray[1])">{{days[daysArray[1].getDay()]}}<br>{{datePipe.transform(daysArray[1], 'dd.MM.yyyy')}}</button>
  <button id="day3" class="day-inner" (click)="getShowtimesByDate(daysArray[2])">{{days[daysArray[2].getDay()]}}<br>{{datePipe.transform(daysArray[2], 'dd.MM.yyyy')}}</button>
  <button id="day4" class="day-inner" (click)="getShowtimesByDate(daysArray[3])">{{days[daysArray[3].getDay()]}}<br>{{datePipe.transform(daysArray[3], 'dd.MM.yyyy')}}</button>
  <button id="day5" class="day-inner" (click)="getShowtimesByDate(daysArray[4])">{{days[daysArray[4].getDay()]}}<br>{{datePipe.transform(daysArray[4], 'dd.MM.yyyy')}}</button>
  <button id="day6" class="day-inner" (click)="getShowtimesByDate(daysArray[5])">{{days[daysArray[5].getDay()]}}<br>{{datePipe.transform(daysArray[5], 'dd.MM.yyyy')}}</button>
  <button id="day7" class="day-inner" (click)="getShowtimesByDate(daysArray[6])">{{days[daysArray[6].getDay()]}}<br>{{datePipe.transform(daysArray[6], 'dd.MM.yyyy')}}</button>
</div>

<p id="premiere" style="display: none">PREMIERE</p><br>

<div class="container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-2 bg-success"
           *ngFor="let showtimeEl of showtimes">
              <button title="Book your ticket" (click)="booking(showtimeEl.id, showtimeEl.technology, showtimeEl.screen.id, showtimeEl.time)">
              Screen {{showtimeEl.screen.id}}<br>
                {{datePipe.transform(date + ' ' + showtimeEl.time, 'HH:mm')}}<br>
                {{showtimeEl.technology.toString().split('_')[1]}}
              </button>
      </div>
    </div>
  </div>

  <br>

  <div class="right inner">
    <app-movie-details [movie]="movie"></app-movie-details>
  </div>

</div>
