<ul id="list">
  <li id="tickets">Tickets </li>
  <li> > </li>
  <li id="seats"> Seats </li>
  <li> > </li>
  <li id="account"> Account </li>
  <li> > </li>
  <li id="checkout"> Checkout</li>
  <li> > </li>
  <li id="done"> Done</li>
</ul>

<br>

<div class="container">

  <div class="inner-info">
    <h2 id="movieTitleHeader">{{bookingData.movieTitle}}</h2>

    <img
      [src]="bookingData.moviePoster"
      alt="{{bookingData.movieTitle}}"
    >

    <div>
      <p style="margin: 3px">
        {{datePipe.transform(bookingData.date, 'dd.MM.yyyy')}}
        , {{datePipe.transform(bookingData.date + ' ' + bookingData.time, 'HH:mm')}}
      </p>
      <p style="margin: 3px">
        {{bookingData.technology.toString().split('_')[1]}}
        , Screen {{bookingData.screen}}
      </p>
      <p style="margin: 3px">
        {{bookingData.ageRating}}
      </p>
    </div>

  </div>

  <div id="screenDiv">
    <div style="display: inline-block">
      <h2 id="screenHeader">SCREEN</h2>

      <table id="table">
        <tbody>
<!--        <tr *ngFor="let row of rows">-->
<!--          <td *ngFor="let col of cols">-->
<!--            <button id="{{row}}{{col}}" (click)="clickSeat(row, col)"-->
<!--              [ngClass]="{'button-booked': seats[row][col]===1, 'button-free': seats[row][col]===0}"-->
<!--              [disabled]="seats[row][col]===1"-->
<!--            >-->
<!--            </button>-->
<!--          </td>-->
        <tr *ngFor="let row of seats; index as rowIndex">
          <td *ngFor="let col of seats[0]; index as colIndex">
            <button id="{{rowIndex}}{{colIndex}}" (click)="clickSeat(rowIndex, colIndex)"
              [ngClass]="{'button-booked': seats[rowIndex][colIndex]===1, 'button-free': seats[rowIndex][colIndex]===0}"
              [disabled]="seats[rowIndex][colIndex]===1"
            >
            </button>
          </td>
        </tbody>
      </table>

      <div id="info" style="margin-top: 0">
        <div class="dot" id="booked-dot">
          <p class="dot-info">already taken</p>
        </div>
        <div class="dot" id="free-dot" style="margin-left: 110px">
          <p class="dot-info">free</p>
        </div>
        <div class="dot" id="choice-dot" style="margin-left: 50px">
          <p class="dot-info">your selection</p>
        </div><br>
      </div>

      <button id="finishBookingBtn" (click)="finishBooking()"><b>Next step</b></button>
      <p id="showParaMax" class="infoPara" [hidden]="!showParaMax"></p><br>
      <p id="showParaMin" class="infoPara" [hidden]="!showParaMin"></p>

    </div>

  </div>

</div>
