#list{
  padding: 0px;
  margin-left: 20px;
}

ul li{
  display: inline;
  font-size: 30px;
}

#account{
  color: #1BA098;
}

app-login, app-register, app-no-registration{
  display: inline-block;
}

app-login{
  margin-left: 6em;
}

.container{
  margin-left: 12%;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, 320px);
  grid-template-rows: repeat(3, 330px);
}

p{
  position: relative;
  margin-left: -2.2em;
}
