<ul id="list">
  <li id="tickets">Tickets </li>
  <li> > </li>
  <li id="seats"> Seats </li>
  <li> > </li>
  <li id="account"> Account </li>
  <li> > </li>
  <li id="checkout"> Checkout</li>
  <li> > </li>
  <li id="done"> Done</li>
</ul>

<div class="container">
  <div id="noRegister">
    <app-no-registration></app-no-registration>
  </div>
  <div id="div-login">
    <app-login [goToTickets]="true"></app-login>
  </div>
  <div>
    <app-register [goToTickets]="true"></app-register>
  </div>
<!--  <div id="noRegister">-->
<!--    <app-no-registration></app-no-registration>-->
<!--  </div>-->
</div>
