ul li{
  display: inline;
  font-size: 30px;
  color: #DEB992;
  font-family: 'Lato', sans-serif;
}

#concessions{
  color: #1BA098;
}

#list{
  margin-left: 20px;
  margin-top: 20px;
  padding: 0;
}

#nextStepBtn{
  width: 200px;
  height: 35px;
  background-color: #1BA098;
  border: none;
  color: #2E4053;
  margin-bottom: 20px;
  display: inline-block;
}

#selectItemsPara{
  color: #1BA098;
  display: inline-block;
  margin-left: 10px;
  visibility: hidden;
  font-size: 18px;
}

.myContainer {
  margin-top: 20px;
  margin-left: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 490px);
  grid-template-rows: repeat(3, 490px);
}

#foodClass, #drinkClass, #menuClass{
  height: 370px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-left: 10px;
}

h2{
  margin-left: 7.5em;
  margin-bottom: 20px;
  color: #1BA098;
  font-size: 25px;
}

h3{
  color: #1BA098;
}

.subtitle{
  margin-left: 0.1em;
  margin-bottom: 15px;
}

/*app-concession-carousel{*/
/*  width: 450px;*/
/*  height: 550px;*/
/*}*/

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #2E4053;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #34495E;
}
