ul li{
  display: inline;
  font-size: 30px;
  color: #DEB992;
  font-family: 'Lato', sans-serif;
}

#concessions{
  color: #1BA098;
}

#list{
  margin-left: 20px;
  margin-top: 20px;
  padding: 0;
}

#checkoutBtn{
  width: 200px;
  height: 35px;
  background-color: #1BA098;
  border: none;
  color: #2E4053;
}

.myContainer {
  margin-top: 20px;
  margin-left: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 490px);
  grid-template-rows: repeat(4, 600px);
}

#foodClass, #drinkClass, #menuClass{
  height: 470px;
  overflow-y: scroll;
  overflow-x: hidden;
}

h2{
  margin-left: 7.5em;
  margin-bottom: 20px;
  color: #1BA098;
  font-size: 25px;
}

h3{
  color: #1BA098;
}

.subtitle{
  margin-left: 1em;
  margin-bottom: 15px;
}

#timePicker p{
  color: #DEB992;
  font-size: 15px;
}

app-concession-carousel{
  width: 450px;
  height: 550px;
}

#timePicker .danger{
  font-size: 15px;
  color: #1BA098;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #2E4053;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #34495E;
}
