<ul id="list">
  <li id="concessions">Movie treats </li>
  <li> > </li>
  <li id="pickUpTime"> Pick up time </li>
  <li> > </li>
  <li id="account"> Account </li>
  <li> > </li>
  <li id="checkout"> Checkout </li>
  <li> > </li>
  <li id="done"> Done</li>
</ul>

<div class="myContainer">

  <div>
    <h2>FOOD</h2>
    <div class="inner" id="foodClass">
<!--      <app-concession-item-->
<!--        *ngFor="let concessionEl of food"-->
<!--        [concession]="concessionEl"-->
<!--      ></app-concession-item>-->
      <h3 class="subtitle">POPCORN</h3>
      <app-concession-item
        *ngFor="let concessionEl of popcorn"
        [concession]="concessionEl"
      ></app-concession-item>
      <br>
      <h3 class="subtitle">NACHOS</h3>
      <app-concession-item
        *ngFor="let concessionEl of nachos"
        [concession]="concessionEl"
      ></app-concession-item>
      <div *ngIf="other.length !== 0">
        <br>
        <h3 class="subtitle">OTHER</h3>
        <app-concession-item
          *ngFor="let concessionEl of other"
          [concession]="concessionEl"
        ></app-concession-item>
      </div>
    </div>
  </div>

  <div>
    <h2>DRINK</h2>
    <div class="inner" id="drinkClass">
      <div style="margin-top: 51px"></div>
      <app-concession-item
        *ngFor="let concessionEl of drink"
        [concession]="concessionEl"
      ></app-concession-item>
    </div>
  </div>

  <div>
    <h2>MENU</h2>
    <div class="inner" id="menuClass">
      <h3 class="subtitle">POPCORN</h3>
      <app-concession-item
        *ngFor="let concessionEl of popcornMenus"
        [concession]="concessionEl"
      ></app-concession-item>
      <br>
      <h3 class="subtitle">NACHOS</h3>
      <app-concession-item
        *ngFor="let concessionEl of nachosMenus"
        [concession]="concessionEl"
      ></app-concession-item>
      <div *ngIf="otherMenus.length !== 0">
        <br>
        <h3 class="subtitle">OTHER</h3>
        <app-concession-item
          *ngFor="let concessionEl of otherMenus"
          [concession]="concessionEl"
        ></app-concession-item>
      </div>
    </div>
  </div>

<!--  <app-concession-carousel style="height: 500px"></app-concession-carousel>-->

  <div class="inner" id="nextStep">
    <button id="nextStepBtn" (click)="nextStep()">Next step</button>
    <p id="selectItemsPara">Please select your concessions!</p>
  </div>

</div>
