<link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>

<div class="container">

  <div class="left inner">
    <img class="img"
      [src]="previewUrl"
      alt="{{ movie.title }}"
      title="Details about {{movie.title}}"
      (click)="goToMovieShowtime()">
  </div>

  <div class="right inner">
    <a class="title-premiere" (click)="goToMovieShowtime()" title="Details about {{movie.title}}"><h5>{{ movie.title }}</h5></a>
    <p class="title-premiere" id="premiere" style="margin-left:10px;" *ngIf="movie.premiere">PREMIERE</p>
    <p>{{movie.genre}} | {{movie.duration}} min | {{movie.ageRating}}</p>
    <div style="display: inline-block;">
      <span>
        <a href={{movie.linkIMDb}} target="_blank"><img src="https://ia.media-imdb.com/images/G/01/imdb/plugins/rating/images/imdb_46x22.png"/></a>
      </span>
      <script>(function(d,s,id){var js,stags=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return;}js=d.createElement(s);js.id=id;js.src="https://ia.media-imdb.com/images/G/01/imdb/plugins/rating/js/rating.js";stags.parentNode.insertBefore(js,stags);})(document,"script","imdb-rating-api");</script>
    </div>

    <button id="addWatchlistBtn" *ngIf="authService.getToken() !== null && !isInWatchlist" (click)="addToWatchlist()">Add to watchlist</button>
    <button id="removeWatchlistBtn" *ngIf="authService.getToken() !== null && isInWatchlist" (click)="removeFromWatchlist()">Remove from watchlist</button>
  </div>

</div>

<br>
