.container{
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 470px);
  grid-template-rows: auto auto;
}

.left{
  width: 500px;
}

.info{
  font-family: "Book Antiqua";
  font-size: 20px;
  color: #1BA098;
}

.info, .detail{
  display: inline-block;
}

.detail{
  margin-left: 5px;
  font-size: 16px;
}

#description{
  font-style: italic;
  text-align: center;
  font-size: 15px;
  width: 90%;
}

.content p{
  margin: 4px;
  padding: 0px;
}

p{
  color: #DEB992;
}

#addWatchlistBtn, #removeWatchlistBtn{
  display: inline-block;
  margin-left: 7px;
  width: 185px;
  height: 30px;
  background-color: #212F3C;
  border: none;
  color: #1BA098;
  outline: none;
  margin-top: 0;
  padding: 0;
}

#addWatchlistBtn:hover{
  background-color: #1BA098;
  color: white;
}

#removeWatchlistBtn:hover{
  background-color: #1BA098;
  color: white;
}

.right{
  margin-bottom: 20px;
}

.left{
  width: 500px;
  margin-bottom: 30px;
}

