h3{
  color: #1BA098;
  margin-bottom: 15px;
}

.validBookings h3{
  margin-left: 12em;
}

.validOrders h3{
  margin-left: 13em;
}

.bookings, .orders{
  max-height: 500px;
  width: 570px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-right: 15px;
}

.validBookings{
  margin-right: 25px;
  margin-bottom: 30px;
}

.validBookings, .validOrders{
  display: inline-block;
  vertical-align: top;
}

app-user-menu{
  width: 280px;
  margin-left: 10px;
  display: inline-block;
  vertical-align: top;
}

.importantInfo{
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #34495E;
}

button{
  display: inline-block;
  float: right;
  margin-top: 20px;
  margin-left: 20px;
  background-color: transparent;
  border: none;
  color: #5D6D7E;
  outline: none;
  font-size: 15px;
  padding: 0;
}

button:hover{
  color: #1BA098;
}

.showMoreInfo{
  margin-left: 10px;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #2E4053;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #34495E;
}

.nothingToShow{
  color: #34495E;
  font-size: 25px;
}

#nothingToShowBooking{
  margin-left: 7.3em;
}

#nothingToShowOrder{
  margin-left: 7.8em;
}

@media only screen and (max-width: 1500px){
  #menu{
    display: none;
  }
}

@media only screen and (max-width: 600px){
  .bookings, .orders{
    width: 480px;
  }

  h4, p{
    font-size: 13px;
  }

  .validBookings h3{
    margin-left: 9.5em;
  }

  .validOrders h3{
    margin-left: 10em;
  }

  #nothingToShowBooking{
    margin-left: 5.5em;
  }

  #nothingToShowOrder{
    margin-left: 5.3em;
  }
}
