<link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<footer>
  <div class="title">
    <p>Movie Mood</p>
  </div>

  <div class="icons">
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-instagram"></a>
    <a href="#" class="fa fa-snapchat-ghost"></a>
  </div>

<!--  <div class="contact">-->
<!--    <p>Horea Street, number 5</p>-->
<!--    <p>0729094605</p>-->
<!--  </div>-->
</footer>
