.container{
  padding: 0;
  margin-left: 20px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, 560px);
  grid-template-rows: auto auto;
}

.inner-poster{
  top: 2%;
}

img{
  width: 98%;
  max-width: 75vw;
  height: 500px;
}

h2{
  margin-top: 0;
  margin-bottom: 10px;
  display: inline-block;
}

p{
  font-size: 20px;
  margin: 0;
  padding: 0;
}

button{
  margin-top: 15px;
  width: 185px;
  height: 35px;
  background-color: #212F3C;
  border: none;
  color: #1BA098;
  outline: none;
  margin-bottom: 20px;
}

button:hover{
  background-color: #1BA098;
  color: white;
}

#userInfo,#movieInfo{
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, rgb(222,185,146), rgb(27,160,152));
  border-image-slice: 1;
}

@media only screen and (max-width: 1200px) {
  #img {
    height: auto;
  }
}

