#list{
  padding: 0px;
  margin-left: 20px;
}

li{
  display: inline;
  font-size: 30px;
  color: #DEB992;
  font-family: 'Lato', sans-serif;
}

@media only screen and (max-width: 850px){
  #list{
    display: none;
  }
}
