<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>

<div id="steps">
  <app-order-step [step]="2"></app-order-step>
</div>

<div class="myContainer">
  <h3>Choose the time you want to pick up your food</h3>
  <p>Select any time between {{minTime}} and {{maxTime}} ...</p>
  <div class="form-group" style="height: 130px">
    <ngb-timepicker id="picker" style="font-size:25px; color: #1BA098;" [formControl]="ctrl" required></ngb-timepicker>
    <div *ngIf="ctrl.valid" style="color: #DEB992; font-size: 17px">Great choice !</div>
    <div class="danger" *ngIf="!ctrl.valid">
      <div *ngIf="ctrl.errors['tooLate']"><p style="color: #1BA098">Oh no, it's too late ...</p></div>
      <div *ngIf="ctrl.errors['tooEarly']"><p style="color: #1BA098">Oh no, it's too early ...</p></div>
    </div>
  </div>

  <button id="nextStepBtn" (click)="nextStep()">Next step</button>
  <p style="color: #1BA098; font-size: 17px" [hidden]="!pickUpPara">Please select the time you want to pick up your concessions!</p>
</div>
