#steps{
  margin-top: 15px;
  padding: 0;
}

.myContainer{
  margin-left: 20px;
  margin-top: 40px;
}

.myContainer p{
  color: #DEB992;
  font-size: 17px;
}

.myContainer h3{
  color: #1BA098;
}

.myContainer .danger{
  font-size: 15px;
  color: #1BA098;
}

#nextStepBtn{
  width: 225px;
  height: 35px;
  background-color: #212F3C;
  border: none;
  color: #1BA098;
  outline: none;
  margin-bottom: 20px;
  display: inline-block;
}

#nextStepBtn:hover{
  background-color: #1BA098;
  color: white;
}
