<div class="container">
  <ul id="list">
    <li id="tickets">Tickets </li>
    <li> > </li>
    <li id="seats"> Seats </li>
    <li> > </li>
    <li id="account"> Account </li>
    <li> > </li>
    <li id="checkout"> Checkout</li>
    <li> > </li>
    <li id="done"> Done</li>
  </ul>

  <br>

  <div class="inner" style="display: inline-block; margin: 0; position: absolute">
    <img
       [src]="bookingData.moviePoster"
       alt="{{bookingData.movieTitle}}"
    >
  </div>

  <div class="inner" style="display:inline-block; margin-left: 300px; position: absolute">
    <div>
      <h3 style="margin: 3px">{{bookingData.movieTitle}}</h3>
      <p style="margin: 3px">
        {{datePipe.transform(bookingData.date, 'dd.MM.yyyy')}}
        , {{datePipe.transform(bookingData.date + ' ' + bookingData.time, 'HH:mm')}}
      </p>
      <p style="margin: 3px">
        {{bookingData.technology.toString().split('_')[1]}}
        , Screen {{bookingData.screen}}
      </p>
      <p style="margin: 3px">
        {{bookingData.ageRating}}
      </p>
    </div>

    <div style="margin-top: 78px">
      <app-ticket-item
        *ngFor="let ticketEl of tickets"
        [ticket]="ticketEl"
      ></app-ticket-item>
    </div>

  </div>

</div>

<br>
<div style="margin-left: 20px; margin-top: 410px">
  <button id="seatsBtn" (click)="seats()">Next step</button>
  <p id="ticketPara" [hidden]="!ticketsPara">Please select your tickets!</p>
</div>
