.container{
  margin-left: 20px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, 380px);
  grid-template-rows: auto auto;
}

img{
  height: 478px;
  width: 360px;
}

#seatsBtn{
  width: 180px;
  height: 35px;
  background-color: #212F3C;
  border: none;
  color: #1BA098;
  outline: none;
  margin-bottom: 5px;
}

#seatsBtn:hover{
  background-color: #1BA098;
  color: white;
}

.infoPara{
  font-size: 18px;
  color: #1BA098;
  margin-top: 0;
}

.nrSeatsLeftPara{
  font-size: 18px;
  color: #1BA098;
  margin-bottom: 0;
}

.ticketInfo{
  font-style: italic;
}

