<app-booking-step [step]="1"></app-booking-step>

<br>

<div class="container">

  <div class="inner">
    <img
       [src]="bookingData.moviePoster"
       alt="{{bookingData.movieTitle}}"
    >
  </div>

  <div class="inner" style="width: 500px">
    <div>
      <h3 style="margin: 3px">{{bookingData.movieTitle}}</h3>
      <p style="margin: 3px">
        {{datePipe.transform(bookingData.date, 'dd.MM.yyyy')}}
        , {{datePipe.transform(bookingData.date + ' ' + bookingData.time, 'HH:mm')}}
      </p>
      <p style="margin: 3px">
        {{bookingData.technology.toString().split('_')[1]}}
        , Screen {{bookingData.screen}}
      </p>
      <p style="margin: 3px">
        {{bookingData.ageRating}}
      </p>
    </div>

    <div style="margin-top: 30px">
      <p class="ticketInfo">Child ticket: under 8 years old</p>
      <p class="ticketInfo">Student ticket: both school and university</p>

      <app-ticket-item
        *ngFor="let ticketEl of tickets"
        [ticket]="ticketEl"
      ></app-ticket-item>

      <div style="margin-top: 10px">
        <button id="seatsBtn" (click)="seats()"><b>Next step</b></button>
        <p class="nrSeatsLeftPara" [hidden]="!(nrAvailableTickets<=5 && nrAvailableTickets!==1)">There are only {{nrAvailableTickets}} tickets left!</p>
        <p class="nrSeatsLeftPara" [hidden]="nrAvailableTickets!==1">There is only 1 ticket left!</p>
        <p id="ticketPara" class="infoPara" [hidden]="!ticketsPara">Please select your tickets!</p>
        <p id="maxSeatsPara" class="infoPara" [hidden]="!maxSeatsPara"></p>
      </div>
    </div>

  </div>

  <br>

</div>
