#list{
  padding: 0px;
  margin-left: 20px;
}

ul li{
  display: inline;
  font-size: 30px;
}

#tickets{
  color: #1BA098;
}

.container{
  margin-left: 20px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, 380px);
  grid-template-rows: repeat(3, 500px);
}

img{
  height: 478px;
  width: 360px;
}

#seatsBtn{
  width: 200px;
  height: 35px;
  background-color: #1BA098;
  border: none;
  color: #2E4053;
}

.infoPara{
  font-size: 18px;
  color: #1BA098;
}

.nrSeatsLeftPara{
  font-size: 18px;
  color: #1BA098;
  margin-bottom: 0;
}

.ticketInfo{
  font-style: italic;
}

