/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  /*font-family: 'Actor';font-size: 25px;*/
  background-color: #061622 !important;
  color: #DEB992;
}
