.watchlist-items{
  padding: 0;
  background-color: transparent !important;
}

.img{
  width: 370px;
  height: 560px;
}

#removeWatchlistBtn{
  display: inline-block;
  margin-left: 7px;
  width: 185px;
  height: 30px;
  background-color: #212F3C;
  border: none;
  color: #1BA098;
  margin-left: 0;
}
