.container{
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 520px);
  grid-template-rows: repeat(2, 425px);
}

.left{
  width: 500px;
}

.info{
  font-family: "Book Antiqua";
  font-size: 20px;
  color: #1BA098;
}

.info, .detail{
  display: inline-block;
}

.detail{
  margin-left: 5px;
  font-size: 16px;
}

#description{
  font-style: italic;
  text-align: center;
  font-size: 15px;
}

.content p{
  margin: 4px;
  padding: 0px;
}
p{
  color: #DEB992;
}

