<!--<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">-->
<!--  <div class="container">-->
<!--    <ul class="nav navbar-nav" routerLinkActive="active">-->
<!--&lt;!&ndash;      <li class="nav-item"><a class="nav-link" routerLink="home">Hoome</a></li>&ndash;&gt;-->
<!--      <li class="nav-item"><a class="nav-link" routerLink="auth">Login</a></li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</nav>-->

<router-outlet></router-outlet>

<!--<youtube-player-->
<!--  [videoId]='id'-->
<!--  (ready)="savePlayer($event)"-->
<!--  (change)="onStateChange($event)"-->
<!--&gt;</youtube-player>-->
