.concession-inner{
  display: inline-block;
}

.inner{
  display: inline-block;
}

input{
  border: 1px solid #2E4053;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 10px;
  width: 100px;
}

input[type="button"] {
  background-color: #2E4053;
  width: 30px;
}

input[type="button"]:hover{
  background-color: #DEB992;
}

input[type="number"] {
  background-color: transparent;
  color: #DEB992;
  width: 40px;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

p{
  color: #DEB992;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  margin: 0;
}

h4{
  color: #1BA098;
  font-family: 'Lato', sans-serif;
  margin-top: 0;
}

.container .left {
  float: left;
  width: 315px;
  height: 65px;
}

.container .right{
  margin-bottom: 45px;
}


