<div class="container">
  <div class="container-inner left">
    <div class="concession-inner">
      <h4>{{concession.name}}</h4>
    </div>
    <div class="concession-inner" style="margin-left: 7px; width: 70px;">
      <p><b>{{concession.price}} RON</b></p>
    </div>
    <div>
      <p>( {{concession.description}} )</p>
    </div>
  </div>

  <div class="container-inner right">
    <div class="input-group inner">
      <input type="button" value="-" class="button-minus" (click)="decrementValue()">
      <input type="number" step="1" min="0" value="0" id='id' class="quantity-field" readonly>
      <input type="button" value="+" class="button-plus" (click)="incrementValue()">
    </div>
  </div>
</div>
