.myContainer{
  padding: 0;
  margin-left: 10px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, 580px);
  grid-template-rows: repeat(2, 280px);
}

.right{
  margin-top: 15px;
  padding: 0;
  background-color: #1B2631 ;
  height: 360px;
}

#form{
  margin-left: 50px;
}

h2{
  margin-top: 5px;
  margin-left: 4em;
  margin-bottom: 20px;
  color: #1BA098;
}

button{
  margin-top: 10px;
  width: 150px;
  height: 35px;
  background-color: #1BA098;
  border: none;
  color: #2E4053;
  margin-left: 11em;
}

.input-elem{
  color: #1BA098;
}

::-webkit-input-placeholder {
  text-align: center;
}

input{
  background-color: #2E4053;
  border: none;
  width: 280px;
  height: 30px;
  color: #DEB992;
  text-align: center;
  margin-left: 6em;
}
