.myContainer{
  padding: 0;
  margin-left: 10px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, 580px);
  grid-template-rows: repeat(2, 285px);
}

.right{
  margin-top: 15px;
  padding: 0;
  background-color: #1B2631 ;
  height: 370px;
}

#form{
  margin-left: 50px;
}

h2{
  margin-top: 5px;
  margin-left: 5em;
  margin-bottom: 20px;
  color: #1BA098;
}

button{
  margin-top: 10px;
  width: 150px;
  height: 35px;
  background-color: #1BA098;
  border: none;
  color: #2E4053;
  margin-left: 11em;
  outline: none;
}

button:hover{
  color: white;
}

.input-elem{
  color: #1BA098;
}

::-webkit-input-placeholder {
  text-align: center;
}

input{
  background-color: #2E4053;
  border: none;
  width: 280px;
  height: 30px;
  color: #DEB992;
  text-align: center;
  margin-left: 6em;
}

#result{
  height: 20px;
  margin-left: 8.5em;
}

.inputInfo{
  margin-left: 5em;
}

@media only screen and (max-width: 1200px){
  #menu{
    display: none;
  }
}

@media only screen and (max-width: 600px){
  #menu{
    display: none;
  }

  #right{
    width: 480px;
  }

  h2{
    margin-left: 3.5em;
  }

  input{
    margin-left: 3.1em;
  }

  button{
    margin-left: 7.9em;
  }

  #result{
    margin-left: 6.3em;
  }

  .inputInfo{
    margin-left: 2.6em;
  }
}

