<p id="resetPasswordInfo"></p>

<form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">

  <div class="input-elem">
    <input type="password" placeholder="current password" formControlName="currentPassword"/>
    <div *ngIf="submitted && f.currentPassword.errors">
      <div *ngIf="f.currentPassword.errors.required">Current password is required</div>
    </div>
  </div>

  <br>

  <div class="input-elem">
    <input type="password" placeholder="new password" formControlName="password" />
    <div *ngIf="submitted && f.password.errors">
      <div *ngIf="f.password.errors.required">Password is required</div>
      <div *ngIf="f.password.errors.minlength">Password must contain at least 6 characters</div>
    </div>
  </div>

  <br>

  <div class="input-elem">
    <input type="password" placeholder="retype your password" formControlName="confirmPassword" />
    <div *ngIf="submitted && f.confirmPassword.errors">
      <div *ngIf="f.confirmPassword.errors.required">You must retype your password</div>
      <div *ngIf="f.confirmPassword.errors.MatchPassword">Passwords do not match</div>
    </div>
  </div>

  <br>

  <button>Modify</button>

</form>
