<div class="container">

  <div class="left" class="inner">
    <img class="img"
      [src]="previewUrl"
      alt="{{ movie.title }}"
      title="Details about {{movie.title}}"
      routerLink="/movies/{{movie.title.split(' ').join('')}}/{{movie.id}}"> <!--    replace all the spaces with nothing-->
  </div>

  <div class="right" style="margin-left:10px;" class="inner">
    <a routerLink="/movies/{{movie.title.split(' ').join('')}}/{{movie.id}}" title="Details about {{movie.title}}"><h2>{{ movie.title }}</h2></a>
    <h4>{{movie.genre}} | {{movie.duration}} min | {{movie.ageRating}}</h4>
<!--    <a href={{movie.linkIMDb}} target="_blank">IMDb</a>-->
    <span>
      <a href={{movie.linkIMDb}} target="_blank"><img src="https://ia.media-imdb.com/images/G/01/imdb/plugins/rating/images/imdb_46x22.png"/></a>
    </span>
    <script>(function(d,s,id){var js,stags=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return;}js=d.createElement(s);js.id=id;js.src="https://ia.media-imdb.com/images/G/01/imdb/plugins/rating/js/rating.js";stags.parentNode.insertBefore(js,stags);})(document,"script","imdb-rating-api");</script>
  </div>

</div>
