<p id="loginError"></p>

<form [formGroup]="loginForm" (ngSubmit)="login()">

  <div>
    <input type="text" placeholder="email" formControlName="email" [ngClass]="{ 'is-invalid': (submitted || f.email.touched) && f.email.errors }" />
    <div *ngIf=" (submitted || f.email.touched)  && f.email.errors">
      <div *ngIf="f.email.errors.required">Email is required</div>
      <div *ngIf="f.email.errors.email">Email is invalid</div>
    </div>
  </div>

  <br>

  <div>
    <input type="password" placeholder="password" formControlName="password" [ngClass]="{ 'is-invalid': (submitted || f.password.touched) && f.password.errors }" />
    <div *ngIf="(submitted || f.password.touched) && f.password.errors">
      <div *ngIf="f.password.errors.required">Password is required</div>
    </div>
  </div>

  <br>

  <a [routerLink]="'/forgot-password'">Forgot your password?</a>

  <br><br>

  <button>Login</button>

  <div id="register-div">
    <div class="inner"><p>Don't have an account?</p></div>
    <div class="inner" style="margin-left:10px;"><button type="button" (click)="register()">Create one!</button></div>
  </div>

</form>
