<link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h4 id="title" (click)="all()">MovieMood</h4>

    <span class="menu-spacer"></span>
    <div id="btns">
      <a class="nav-btn" mat-button (click)="all()"> ALL MOVIES </a>
      <a class="nav-btn" mat-button (click)="nowPlaying()"> NOW PLAYING </a>
      <a class="nav-btn" mat-button (click)="comingSoon()"> COMING SOON </a>
      <a class="nav-btn" mat-button (click)="mostPopular()"> MOST POPULAR </a>
      <a class="nav-btn" mat-button *ngIf="authService.getToken() === null" (click)="login()"> LOGIN </a>

      <div *ngIf="authService.getToken() !== null" class="dropdown">
        <button class="dropbtn nav-btn">MY ACCOUNT</button>
        <div class="dropdown-content">
          <a (click)="manageAccount()" style="border-bottom: 1px solid #34495E"> MANAGE MY ACCOUNT</a>
          <a (click)="watchlist()" style="border-bottom: 1px solid #34495E">MY WATCHLIST</a>
          <a (click)="valid()" style="border-bottom: 1px solid #34495E">MY BOOKINGS & ORDERS</a>
          <a (click)="history()" [ngClass]="!router.url.includes('/booking/confirmation') && !router.url.includes('/order/confirmation') ? 'addBorder' : 'doNotAddBorder'">MY HISTORY</a>
          <a *ngIf="!router.url.includes('/booking/confirmation') && !router.url.includes('/order/confirmation')" (click)="logout()">LOGOUT</a>
        </div>
      </div>

    </div>
  </mat-toolbar-row>

</mat-toolbar>
