<link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h4 id="title">MovieMood</h4>
    <span class="menu-spacer"></span>
    <div>
      <a class="nav-btn" mat-button (click)="home()"> HOME </a>
      <a class="nav-btn" mat-button (click)="playingNow()"> PLAYING NOW </a>
      <a class="nav-btn" mat-button> COMING SOON </a>
      <a class="nav-btn" mat-button> MOST POPULAR </a>
      <a class="nav-btn" mat-button (click)="login()"> MY ACCOUNT </a>
    </div>
  </mat-toolbar-row>

</mat-toolbar>
